/*background image and margin of the body*/
body {
    margin: 0px;
    margin-bottom: 40px;
    background-image: url('images/background-bowling.jpg');
}

/*make four differents colums as a header*/
#header ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

#header li a {
    display: block;
    color: rgb(253, 252, 252);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #6d0303;
}

/*make a spesific size for the container*/
.container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background-color: #ffffff;
    opacity: 75%;
}

/*both img and text is an item*/
.item {
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: 50%;
}

picture *{
    padding-top: 20px;
    max-width: 90%;
    height: auto;
}

/*just making the h1 text centrall and adjusting the size*/
h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 3.6rem;
    

}

p {
    font-family: sans-serif;
    font-size: 1.5rem;
}

/*whene one browsing through a big screen */
@media (min-width: 800px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*reverse the order of the container */
    .reverse-order {
        flex-direction: row-reverse;
    }

    picture *{
        max-width: 90%;
    }

    h1 {
        font-family: serif;
        text-align: center;
        font-size: 5rem;
    }

    p {
        font-family: serif;
        font-size: 2rem;
    }     
}

/*whene its a small screen such as a mobile*/
@media (max-width: 900px){
    img {
        width: 100%;
        margin: 2vw;
    }
    
    h1 {
        font-size: 5vw;
        font-family: fantasy;
    }

    p {
        font-size: 3vw;
    }
}


