* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header nav {
    width: 100%;
    height: 80px;
}

#header nav ul {
    float: right;
    margin-right: 20px;
}

#header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 25px 5px;
}

#header nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.home {
    height: 60px;
    margin: 10px 0 0 20px;
    background: #c0c0c0;
    border-radius: 3px; 
}

.home:hover {
    background: #dbdbdb;
    filter: invert(100%);
}

.checkbtn {
    cursor: pointer;
    font-size: 20px;
    color: black;
    background: #c0c0c0;
    float: right;
    margin: 18px 10px 18px 10px;
    padding: 7px 7px;
    border-radius: 3px;
    text-transform: uppercase;
    display: none;
}

.checkbtn:hover {
    background: #363636;
    color: white;
}

#check {
    display: none;
}

section {
    margin-bottom: 20px;
    padding: 20px;
}

section p {
    margin: 10px;
}



.grey {
    background: #dfdfdf;
}

.kærer {
    display: block;
    width: 75%;
    margin: 10px 10%;

}

.menu {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.menu div {
    margin: 20px;
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    flex-direction: column;
}

.menu div:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.menu div a {
    max-width: 300px;
    margin: auto;
}

.menu div p {
    text-align: center;
}

.left {
    float: left;
    width: 30%;
    color: white;
    margin-left: 125px;
    max-height: 75px;
    
    
}

.Right{
float: right;
width: 35%;
border-right-width: 50px;
color: white;
max-height: 75px;
overflow:hidden;

}

.aheight {
    max-height: 15px;
    color: white;

}
.imgleft {
    position: absolute;
    left: 0px;
    width: 65px;

  }

footer {
    background-color: #dfdfdf;
    
footer{
    background-color: #221a1a;
    bottom: 0px;
    width: 100%;
    height: 75px;
    margin: auto;
}

footer p {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: auto;
    width: 50%;
    border-left-width: 120px;


}

@media (min-width: 900px) {
    #header ul li {
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    #header ul li::after {
        content: '';
        height: 2px;
        width: 0;
        background: black;
        position: absolute;
        left: 0;
        bottom:-5px;
        transition: 0.2s;
    }
    
    #header ul li:hover::after {
        width: 100%;
    }

    .checkbtn {
        display: none;
    }
}

@media (max-width: 900px) {
    .checkbtn{
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        
    }

    #header ul {
        position: fixed;
        width: 60%;
        height: 25vh;
        background: #ffffff8f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s
    }

    #header nav ul li {
        display: block;
    }

    #header nav ul li a {
        font-size: 20px;
        background: #c0c0c0;
    }

    #header nav ul li a:hover {
        background: #ffe6e6;
    }

    #check:checked ~ ul {
        left: 20%;
    }
}