* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header nav {
    width: 100%;
    height: 80px;
}

#header nav ul {
    float: right;
    margin-right: 20px;
}

#header nav ul li {
    
    display: inline-block;
    margin: 25px 5px;
}

#header nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.home {
    height: 60px;
    margin: 10px 0 0 20px;
    background: #c0c0c0;
    border-radius: 3px; 
}

.home:hover {
    background: #dbdbdb;
    filter: invert(100%);
}

.checkbtn {
    cursor: pointer;
    font-size: 20px;
    color: black;
    background: #c0c0c0;
    float: right;
    margin: 18px 10px 18px 10px;
    padding: 7px 7px;
    border-radius: 3px;
    text-transform: uppercase;
    display: none;
}

.checkbtn:hover {
    background: #363636;
    color: white;
}

#check {
    display: none;
}



h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
    padding: 5px 0 20px;
    padding-inline: 10%;
    min-width: 30%;
    

}

.paragraph {
    display: flex;
    align-items: flex-start;
}

section img {
    margin-right: 20px;
}

section p {
    margin-bottom: 10px;
}

section dt {
    margin: 20px 0 10px;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}



.azure {
    background: #f0ffff;
}

.kærer {
    display: block;
    width: 75%;
    margin: 10px 10%;

}

.menu {
    min-height: 100%;
    max-width: 50vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.menu div {
    margin: 20px;
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    flex-direction: column;
}

.menu div:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.menu div a {
    max-width: 300px;
    margin: auto;
}

.menu div p {
    text-align: center;
}

.navoptions {
    margin-left: 20px;
}

pre a {
    font-weight: bolder;
    border: black;
    border-radius: 2px;
    background-color: black;
    padding: 4px;
    color: white;
    
}

footer {
    width: 100%;
    background: #221a1a;
}

footer * {
    font-size: 20px;
    color: white;
    display: inline-block;
}

footer img {
    float: left;
}

footer p {
    margin: auto;
    padding: 5px 10px;
}


@media (min-width: 900px) {
    #header ul li {
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    #header ul li::after {
        content: '';
        height: 2px;
        width: 0;
        background: black;
        position: absolute;
        left: 0;
        bottom:-5px;
        transition: 0.2s;
    }
    
    #header ul li:hover::after {
        width: 100%;
    }

    .checkbtn {
        display: none;
    }

    footer p {
        margin-left: 50px;
    }
}

@media (max-width: 900px) {
    .checkbtn{
        display: block;
        position: fixed;
        right: 0;
        top: 0; 
    }

    #header ul {
        position: fixed;
        width: 60%;
        height: 25vh;
        background: #ffffff8f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s
    }

    #header nav ul li {
        display: block;
    }

    #header nav ul li a {
        font-size: 20px;
        background: #c0c0c0;
    }

    #header nav ul li a:hover {
        background: #363636;
        color: white;
    }

    #check:checked ~ ul {
        left: 20%;
    }

    .menu div{
        margin: auto;
        margin-top: 20px;
    }

    .paragraph {
        display: block;
    }
}